.main{
    padding-left: 8px;
    padding-top: 10px;
}
.sidebar{
    background-color: #343434;
    border-radius: 5px;
    box-shadow:  0 0 2px gray;
    margin-right: 8px;
    height: 100vh;
    padding: 10px;
    width: 15rem; 

}
.sidebar-header h1{
    font-size: 1.7rem;
    color: aliceblue;
    font-weight: bolder;
}
.header{
    background-color:#ebebeb;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    margin-bottom: 10px;
    height: 6vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.body{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 2px gray;
    width: 100%;
    height: 92.5vh;
    overflow-x: scroll !important;
    background-image: url(https://img.freepik.com/free-photo/white-paper-texture_1409-1346.jpg?w=1060&t=st=1718059934~exp=1718060534~hmac=f9e293cf515b5708f6cee458f28280bef21aa749f71e59230e85697abdbd17c1);
    background-repeat: no-repeat;
    background-size: cover;
    /* padding: 1.2rem; */
    /* background-image:url(https://st5.depositphotos.com/22341038/66783/i/600/depositphotos_667833068-stock-photo-mri-images-human-head-hands.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}   
.body-padding{
    padding: 1.2rem;
  

  
}
.social-icons {
    padding: 20px;
    display: flex; 
    justify-content: space-around; 
    margin-top: 30px; 
}
.follow-button {
    
    margin-top: 20px; 
    text-align: center; 
}
.profile{
    background-image: url(https://cdn.pixabay.com/photo/2017/01/24/03/53/plant-2004483_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.page-title{
    font-size: 2.2rem;
    color: black;
    font-weight: bold;
}
.card-title{
    font-size: 1.5rem;
    color: rgba(78, 75, 75, 0.836);
    font-weight: bold;
}
.content{
    width: 100%;
    height: 100%;
}
.menu{
    margin-top: 5rem;
    
}
.menu-item{
    margin-top: 3rem;
    font-weight: 450;
 
   
}
.menu-item a{
    color: white;
    font-size: 1.1rem;
    text-decoration: none;

}
.menu-item i{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-right: 0.6rem;
    font-size: 1.2rem;
    text-decoration: none;
  
}
.profile-card{
    background-color: #c8c7c7;
    margin-top: 20px !important;
}
.active-menu-item{
    color: white;
    background-color: rgb(23, 23, 23);
    padding: 6px;
    border-radius: 5px;
}
.menu-item:hover{
    background-color:black;
     color: white;
     border-radius: 5px;
}
.header-icon{
    color: rgb(0, 0, 0);
    font-size: 2.5rem;
    cursor: pointer;
    padding-left: 1rem;
}
.collapsed-sidebar{
    background-color: #343434;
    border-radius: 5px;
    box-shadow:  0 0 2px gray;
    margin-right:06px;
    height: 100vh;
    padding: 8px;
    width: 3.8rem;
}
.collapsed-sidebar .menu-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem;
}
.ant-badge-count{
    padding-right: -10px !important;
    padding-bottom: -10px !important;
}

.underline{
    text-decoration: underline;
    color: red;
    font-size: 1rem;
}

.role-text{
    font-weight:600;
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
}
.home-div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(https://st5.depositphotos.com/22341038/66783/i/600/depositphotos_667833068-stock-photo-mri-images-human-head-hands.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.home-div .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}
.home-btn{
    width: 250px;
    font-weight: bold;
}
.ant-btn{
    margin: 5px;
}
.home-h2{
    font-weight: bolder;
   color: white;
   font-size: 2rem;
}
/* .home-btn:hover{
    background-color: #858282;
    color: #ccc;
} */
.home-div .content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
    text-align: center;
    color: white; 
}

.home-div .content h1 {
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 1rem;
}


.home-div .content p {
    font-size: 1.125rem;
    font-weight: 700;
    margin-bottom: 2rem;
}
/* Search form styles */
.search-form {
    display: flex;
    align-items: center;
    margin-right: 16px;
  }
  
  .search-input {
    width: 30rem;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    font-size: 16px;
    outline: none;
    transition: border-color 0.3s ease;
  }
  
  .search-input:focus {
    border-color: #ff1818;
    border-width: 2px;
  }
  
  .search-button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #343434;
    color: white;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .search-button:hover {
    background-color: #343434;
  }
  
  .search-button:active {
    background-color: #343434;
  }
  

@media (min-width: 768px) {
    .home-div .content h1 {
        font-size: 2rem;
    }
    .home-div .content p {
        font-size: 1.25rem;
    }
} 

@media (min-width: 1024px) {
    .home-div .content h1 {
        font-size: 2.8rem;
    }
    .home-div .content p {
        font-size: 1.2rem;
    }
}

  
/* .home-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
    background-image:url(https://st2.depositphotos.com/2065849/8816/i/600/depositphotos_88161276-stock-photo-doctor-inspires-of-the-patient.jpg);
    background-repeat: no-repeat;
    background-size: cover;
   
}
.home-h1{
    color: black;
    font-weight: 1000;
    font-size: 3.1rem;
}
.home-h2{
    color: black;
    font-weight: 700;
} */
@media screen  and (max-width: 768px) {
    .menu{
        padding: 0  5px;
    }
    .main{
        padding: 0px;
    }
    .body{
       
        padding: 0px;
        
        
       
    }
    .page-header{
        font-weight: bold;
    }
    .sidebar{
       
        top: 0;
        left: 0;
        z-index: 1;
    }
    .content{
        margin: 0px;
    }
    .home-div.content{
        margin: 0px;
    }
    .home-div .content h1 {
        font-size: 1rem;
        padding: 5px;
    }
    .home-div .content p {
        font-size: .5rem;
    }
    .page-title{
        font-size: 1rem;
    }
    .body-padding{
        padding: 0px;
    }
  h1.normal-text{
    font-size: 1.6rem;
  }
  .body-padding{
    padding: 5px;
  }
 .home-div .content{
    height: 100%;
 }
}

@media (max-width: 640px) {
    .collapsed-sidebar {
        display:none;
    }
}